div {
    background: #b1060f;
    height: 250px;
    width: 60px;
    position: relative;
}

div::before {
    background: #b1060f;
    height: 250px;
    width: 60px;
    position: absolute;
    content: '';
    left: 90px;
}

div::after {
    background: white;
    height: 20px;
    width: 175px;
    position: absolute;
    content: '';
    left: -15px;
    bottom: -10px;
    border-radius: 50%;
}

span {
    position: absolute;
    height: 250px;
    width: 60px;
    background: #e50913;
    left: 16px;
    transform: skew(50deg);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(50deg);
    -ms-transform: skew(50deg);
    -o-transform: skew(50deg);
}